{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load get_by_index %}

{% block content %}
    <fieldset class="module ">
    <h1>{{ titol }}</h1>
    <h2>{{ descripcio }}</h2>
    <form action="{{ action }}" method="post">{% csrf_token %}
      <table>
        <th>Mes</th>
        <th>{{year1}}</th>
        <th>Acumulado {{year1}}</th>
        <th>{{year2}}</th>
        <th>Acumulado {{year2}}</th>
        <th>Dif.</th>
        <th>Acumulado Dif.</th>
        {% for month in month_years %}
          <tr>
            <td>{{month|safe}}</td>
            <td style="text-align:right;">{{list1|get_by_index:forloop.counter0}}</td>
            <td style="text-align:right;">{{acumul1|get_by_index:forloop.counter0}}</td>
            <td style="text-align:right;">{{list2|get_by_index:forloop.counter0|safe}}</td>
            <td style="text-align:right;">{{acumul2|get_by_index:forloop.counter0|safe}}</td>
            <td style="text-align:right;">{{dif_list|get_by_index:forloop.counter0|safe}}</td>
            <td style="text-align:right;">{{dif_acumul|get_by_index:forloop.counter0|safe}}</td>
          </tr>
        {% endfor %}
      </table>
      <input type="hidden" name="url_destination" value="{{ url_destination }}" />
      <input type="submit" name="btn_ok" value="Continuar">
    </form> 
    </fieldset>
{% endblock %}
